header
  display: flex
  flex-direction: column

.social-icons
   display: flex
   align-self: center

   a
     font-size: 30px
     color: black
     padding: 10px 8px

.header-title
  color: black
  font-family: 'Zilla Slab'
  padding: 10px 40px 20px 40px
  font-size: 68px
  text-align: center
  font-weight: 300
  max-width: 600px
  margin: 0 auto
  border-bottom: 1px solid black
  display: block
