header
  div.social-icons
    a(href="http://www.twitter.com/ianadambear")
      span.fa.fa-twitter-square
    a(href="https://www.facebook.com/ianadambear")
      span.fa.fa-facebook-square
    a(href="http://www.instagram.com/ianadambear")
      span.fa.fa-instagram
    a(href="http://www.github.com/ianadambear")
      span.fa.fa-github-square
    a(href="http://www.linkedin.com/in/ianadambear")
      span.fa.fa-linkedin-square        
  h2 Ian Adam Bear
