@import url('https://fonts.googleapis.com/css?family=Raleway|Slabo+27px|Zilla+Slab:300,400,600')
@import "reset"
@import "syntax"
@import "includes/header"
@import "includes/categories"

body
  background-color: rgb(250, 250, 255)
  display: flex
  flex-direction: column
